{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %} | Vigilant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <script src="https://kit.fontawesome.com/4ca1ff7e0a.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% block head %}
  {% endblock %}
  {% block css %}
  {% endblock %}
</head>


<body>
  {% block nav %}
  <nav class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo-black.png' %}" height="100" class="d-inline-block align-top navbar-logo"
          alt="Vigilant">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'alerts' %}">Alerts</a>
          </li>
          {% if request.user.is_authenticated and request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'video' %}">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">Admin</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav" style="position: absolute; right: 10px;">
           <li class="nav-item report-link">
            <a class="nav-link" aria-current="page" href="{% url 'report-missing' %}">
              <i class="fas fa-exclamation-triangle"></i>&nbsp;
              Report Missing Person
            </a>
          </li>
          <li class="nav-item report-link">
            <a class="nav-link" aria-current="page" href="{% url 'report-information' %}">
              <i class="fas fa-info-circle"></i>&nbsp;
              Report Information
            </a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'profile' %}">
              <i class="fa-solid fa-user"></i>&nbsp;
              {{ request.user.person.full_name }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
  </nav>
  {% endblock %}

  <div class="container content" id="content">
  {% block body %}
  {% endblock %}
  </div>
  {% block footer %}
  {% endblock %}


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="{% static 'base.js' %}"></script>

  {% block js %}
  {% endblock %}
</body>


</html>