{% extends "base.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block css %}
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<h1>Dashboard</h1>
<div class="row" style="text-align: center">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input name="file" class="form-control form-control-md" type="file" required>
            {% comment %} <input type="submit" value="Run ML" class="btn gold"> {% endcomment %}
        </div>
    </form>
</div>
<div class="row">
    <div class="col">
        <h2>People</h2>
        <hr noshade class="hr-header people">
        <div class="row">
            <h4>Facial Recognition</h4>
        </div>
        <hr class="people">
        <div class="row">
            <h4>Get All People</h4>
        </div>
        <hr class="people">    
        <div class="row">
            <h4>Person Description</h4>
        </div>
        <hr class="people">
    </div>
    <div class="col">
        <h2>Vehicles</h2>
        <hr noshade class="hr-header vehicle">
        <div class="row">
            <h4>License Plate Recognition</h4>
        </div>
        <hr class="vehicle">
        <div class="row">
            <h4>Vehicle Identification</h4>
        </div>
        <hr class="vehicle">    
    </div>
</div>
{% endblock %}