{% extends "base.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block css %}
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<h1>Dashboard</h1>
<div class="row" style="text-align: center">
    <form method="post">
        {% csrf_token %}
        <h4 class="run-ml">Input Image:</h4>&nbsp;&nbsp;&nbsp;    
        <input name="file" class="form-control form-control-md" type="file" required>
        {% comment %} <input type="submit" value="Run" class="btn gold"> {% endcomment %}
    </form>
</div>
<div class="row">
    <div class="col">
        <h2>People</h2>
        <hr noshade class="hr-header people">
        <div class="row">
            <h4>
                <a href="{% url 'facial-recognition' %}">
                Facial Recognition
                </a>
                <input type="submit" value="Run" class="btn gold" style="float: right">
            </h4>
            <div class="row">
                <div class="col">
                    Target:
                    <br>
                    <img src="{{ facial_target }}">
                </div>
                <div class="col">
                    Source:
                    <br>
                    <img src="{{ facial_source }}">
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col">
                    Boxed:
                    <br>
                    <img src="{{ facial_box }}">
                </div>
                <div class="col">
                    Cropped:
                    <br>
                    <img src="{{ facial_cropped }}">
                </div>
            </div>
        </div>
        <hr class="people">
        <div class="row">
            <h4>
                <a href="{% url 'people-all' %}">
                Get All People
                </a>
                <input type="submit" value="Run" class="btn gold" style="float: right">
            </h4>
            <div class="row">
                <div class="col">
                    Source:
                    <br>
                    <img src="{{ people_image }}">
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col">
                    Boxed:
                    <br>
                    <img src="{{ people_box }}">
                </div>
                <div class="col">
                    Cropped:
                    <br>
                    <img src="{{ people_cropped }}">
                </div>
            </div>
        </div>
        <hr class="people">    
        <div class="row">
            <h4>
                <a href="{% url 'person-description' %}">
                Person Description
                </a>
                <input type="submit" value="Run" class="btn gold" style="float: right">
            </h4>
            <div class="row">
                <div class="col">
                    Source:
                    <br>
                    <img src="{{ person_image }}">
                </div>
                <div class="col">
                    Description:
                    <br>
                    {{ person_description }}
                </div>
            </div>
        </div>
        <hr class="people">
    </div>
    <div class="col">
        <h2>Vehicles</h2>
        <hr noshade class="hr-header vehicle">
        <div class="row">
            <div class="row">
                <h4>
                    <a href="{% url 'vehicle-identification' %}">
                    Vehicle Identification
                    </a>
                    <input type="submit" value="Run" class="btn gold" style="float: right">
                </h4>
                <div class="row">
                    <div class="col">
                        Source:
                        <br>
                        <img src="{{ vehicle_image }}">
                    </div>
                    <div class="col">
                        Description:
                        <br>
                        {{ vehicle_description }}
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col">
                        Boxed:
                        <br>
                        <img src="{{ vehicle_box }}">
                    </div>
                    <div class="col">
                        Cropped:
                        <br>
                        <img src="{{ vehicle_cropped }}">
                    </div>
                </div>
            </div>
            <hr class="vehicle" style="margin-top: 16px;">
            <div class="row">
                <h4>
                    <a href="{% url 'license-plate' %}">
                    License Plate Recognition
                    </a>
                    <input type="submit" value="Run" class="btn gold" style="float: right">
                </h4>
                <div class="row">
                    <div class="col">
                        Source:
                        <br>
                        <img src="{{ license_image }}">
                    </div>
                    <div class="col">
                        License plate:
                        <br>
                        {{ license_plate }}
                    </div>
                </div>
            </div>
        </div>
        <hr class="vehicle">    
    </div>
</div>
{% endblock %}