{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link href="{% static 'home.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<section id="sec-00">
    <h1>Vigilant</h1>
    <h3>is on a mission to enhance child abduction alert systems.</h3>
    <button id="learnmore" href="sec-01">Learn More</button>
    <!-- <img src="https://i.dailymail.co.uk/i/newpix/2018/06/20/16/4D73CD7900000578-0-image-a-14_1529507448373.jpg" alt="Error fetching the image.">   -->


</section>



<section id="sec-01">
    <div class="statcard" id="statcard1">
        <img src="statimg" alt=""></img>
        <h2 class="stats">0.07%</h2>
        <p><b>is the percentage of abducted children reports that received an AMBER alert in 2021</b></p>
    </div>
    <div class="statcard" id="statcard2">
        <img src="statimg" alt=""></img>
        <h2 class="stats">Every 40 seconds</h2>
        <p><b>a child goes missing in the United States</b></p>
    </div>
    <div class="statcard" id="statcard3">
        <img src="statimg" alt=""></img>
        <h2 class="stats">800,000</h2>
        <p><b>children are kidnapped each year</b></p>
    </div>
    <!-- <h1>Every year, approximately <a style="color:red;">840,000</a> children are reported as abducted.</h1>
    <br>
    <h1 style="color:red;">Less than</h1> -->
</section>
<section id="sec-02">
    <div class="content">
        <div class="text-box">
          <h3>Our Solution</h3>
          <p>AMBER alerts and similar alert systems aren't effective. With inefficient utilization and success rates, it's evident that we need a better solution. Vigilant provides an integrated framework for reporting child abductions with artificial intelligence techniques to streamline the process. Here are some of our features:
            <ul>
                <li>Report system for organizing and reporting abductions</li>
                <li>Implementation and integration of Virginia surveillance cameras onto the website</li>
                <li>Five uses of machine learning, including license plate detection, facial recognition, and vehicular recognition</li>
                <li>A comprehensive log-in and administrative system for governmental officials and registered contributors to input alerts</li>
            </ul>
          </p>
        </div>
      </div> 
</section>

<footer>
    <p> Made by Deven Hagen, Justin Lee, Vatsal Sivaratri, and Alan Zhu </p>
</footer>
{% endblock %}
