{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link href="{% static 'home.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<section id="sec-00">
    <h1>Vigilant</h1>
    <h3>is on a mission to enhance child abduction alert systems.</h3>
    <button id="learnmore">Learn More</button>
    <!-- <img src="https://i.dailymail.co.uk/i/newpix/2018/06/20/16/4D73CD7900000578-0-image-a-14_1529507448373.jpg" alt="Error fetching the image.">   -->


</section>



<section id="sec-01">
    <div class="statcard" id="statcard1">
        <img src="statimg" alt=""></img>
        <h2>&lt1 in 1000</h2>
        <p>children</p>
    </div>
    <div class="statcard" id="statcard2">
        <img src="statimg" alt=""></img>
        <h2>&lt1 in 1000</h2>
        <p>children</p>
    </div>
    <div class="statcard" id="statcard3">
        <img src="statimg" alt=""></img>
        <h2>&lt1 in 1000</h2>
        <p>children</p>
    </div>
    <!-- <h1>Every year, approximately <a style="color:red;">840,000</a> children are reported as abducted.</h1>
    <br>
    <h1 style="color:red;">Less than</h1> -->
</section>
<section id="sec-02">
    <div class="content">
        <div class="text-box">
          <h3>Our Solution</h3>
          <p></p>
        </div>
      </div> 
</section>
<section id="sec-03"></section>
<section id="sec-04"></section>
<section id="sec-05"></section>
{% endblock %}
