{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block css %}
    <link href="{% static 'home.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<section id="sec-00">
    <h3>Vigilant is on a mission to enhance child abduction alert systems using machine learning.</h3>
    <h4></h4>  
    <!-- <img src="https://i.dailymail.co.uk/i/newpix/2018/06/20/16/4D73CD7900000578-0-image-a-14_1529507448373.jpg" alt="Error fetching the image.">   -->


</section>
<section id="sec-01">
    <h1>Every year, approximately <a style="color:red;">840,000</a> children are reported as abducted.</h1>
    <br>
    <h1 style="color:red;">Less than</h1>
</section>
{% endblock %}
