{% extends "base.html" %}
{% load static %}

{% block title %}
    People Results
{% endblock %}

{% block css %}
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<h1>People Results</h1>

{% for result in results %}
<h4>Result #{{ result.id }}</h4>
<div class="row">
    <div class="col">
        Source:
        <br>
        <img src="{{ result.image }}">
    </div>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col">
        Boxed:
        <br>
        <img src="{{ result.box_result }}">
    </div>
    <div class="col">
        Cropped:
        <br>
        <img src="{{ result.cropped_result }}">
    </div>
</div>
<hr>
{% endfor %}

{% endblock %}