.alert {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.alert-photo {
    float: left;
    margin-right: 15px;
}

.alert-date {
    float: right;
    color: rgb(101, 101, 101);
    margin: 0;
}

.alert-divider {
    margin: 10px;
}

.alert-person-info .row {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    margin-top: 5px;
    text-align: left;
}

.alert-person-description .row {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    margin-bottom: 5px;
}

.alerts-active, .alerts-resolved {
    background-color: rgb(255, 134, 134);
    padding: 10px;
    border-radius: 5px;
}

.alerts-resolved {
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}

.resolved-arrow {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.alert-type {
    padding: 5px;
    font-weight: bold;
    color: black;
}

.alert-type-vigilant {
    background-color: rgb(0, 0, 0);
    color: white;
}
.alert-type-amber {
    background-color: rgb(254, 193, 81);
}
.alert-type-blue {
    background-color: rgb(0, 126, 210);
    color: white;
}
.alert-type-silver {
    background-color: rgb(214, 214, 214);
}
.alert-type-endangered {
    background-color: rgb(255, 0, 0);
    color: white;
}
.alert-type-camo {
    background-color: rgb(0, 118, 37);
    color: white;
}
