    /* body {
        background-color: #ebebeb;
    } */


nav.navbar {
    background-color: #2A2E30 !important;
    height: 50px;
}

img.navbar-logo {
    position: relative;
    top: 25px;  
}

/* nav{
    min-height: 100px;
} */

.nav-link {
    color: rgb(206, 153, 18);
}

.nav-link:hover {
    color: rgb(224, 197, 44);
}


h1 {
    text-align: center;
}

#content {
    margin-top: 10px;
}

#body {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#reportbutton{
    background-color: red;
    align-items: end;
    border-radius: 10%;
    float: right;
}

.center {
    text-align: center;
}

.gold {
    background-color: rgb(206, 153, 18);
    color: white;
}

.gold:hover {
    background-color: rgb(185, 135, 9);
    color: white;
}

.gold:active {
    background-color: rgb(185, 135, 9);
    color: white;
}

.form-control, .form-select {
    border: 1px solid rgba(163, 117, 0, 0.51);
}

.form-control:focus, .form-select:focus {
    border: 1px solid rgba(163, 117, 0, 0.51);
    box-shadow: 0 0 0 0.2rem rgba(163, 117, 0, 0.25);
}

.form-label {
    color: rgb(123, 88, 0);
    font-weight: bold;
}

.report-link .nav-link {
    color: rgb(253, 12, 12);
}