nav{
    spacing
}

nav.navbar {
    background-color: #2A2E30 !important;
    height: 50px;
}

img.navbar-logo {
    position: relative;
    top: 25px;  
}

/* nav{
    min-height: 100px;
} */

.nav-link {
    color: rgb(206, 153, 18);
}

.nav-link:hover {
    color: rgb(209, 178, 0);
}


h1 {
    text-align: center;
}

#content {
    margin-top: 10px;
}

#body {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#reportbutton{
    background-color: red;
    align-items: end;
    border-radius: 10%;
    float: right;
}

.center {
    text-align: center;
}