h2 {
    text-align: center;
}

.run-ml {
    color: rgb(149, 107, 3);
    display: inline;
    position: relative;
    top: 1px;
}

hr.people {
    border: 2px solid rgb(0, 131, 0);
}

hr.vehicle {
    border: 2px solid rgb(0, 54, 130);
}

hr.hr-header {
    border-width: 3px;
}

input[type='file'] {
    display: inline;
    width: 300px;
}

input[type='submit'] {
    position: relative;
    bottom: 1px;
}

.row img {
    height: 200px;
    max-width: 250px;
}

.progress-bar {
    animation: progress-bar-stripes .5s linear infinite;
    width: 100%;
}