body{
    align-items: center;
    justify-content: center;
    background-color: #a4ccff;
}

section {
    padding-top: 300px;
    padding-bottom: 300px;
}

#sec-00 {
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
    border-color: black;
}

#sec-00 h1 {
    font-size: 3em;
    padding-bottom: 2%;
    margin: 0;
    font-weight: bold;
    padding-top: 9;
}
#sec-00 h3 {
    font-size: 2em;
    padding-bottom: 5%;
    margin: 0;
}

#sec-01{
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: center;
    transform: translateX(2.5%);
}

.statcard{
    width: 30%;
    padding: 30px;
}

#learnmore {
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: green;
    font-weight: bold;
    width: 15%;
    border: none;
    cursor: pointer; 
}

.parent-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
  }
  
.statimg {
    flex: 0 0 auto;
}
  
.stats {
    color: #ff7171;
}

.sec-02 .content{
    width: 30%;
}

.statcard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}