.body{
    align-items: center;
    justify-content: center;
}

section {
    padding: 50px;
    padding-bottom: 500px;
}

#sec-00 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* This ensures that the section takes the full viewport height */
}

#sec-00 h3 {
    font-size: 2em;
    padding-bottom: 3x;
    margin: 0; /* Remove default margin */
}

#learnmore {
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    border: none; /* Add this if you want to remove the default border */
    cursor: pointer; /* Add this to change the cursor on hover */
}

.statcard{ 
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
}
.statcard h2{
    align-items: center;
    font-size: 2em;
    padding: 10px;
}

#statcard1{
    position: absolute;
    left:150;
}

#statcard2{
    position: absolute;
    left: 30%;
    transform: translateX(-30%);
}
/* #statcard3{
    position: absolute;
    transform: translate(40%);
} */
#statcard3{
    position: absolute;
    right: 15%;
}