body{
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

section {
    padding: 50px;
    padding-bottom: 500px;
}

#sec-00 {
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
    border-color: black;
}

#sec-00 h1 {
    font-size: 3em;
    padding-bottom: 2%;
    margin: 0;
    font-weight: bold;
    
}
#sec-00 h3 {
    font-size: 2em;
    padding-bottom: 5%;
    margin: 0;
}

#learnmore {
    color: white;
    padding: 10px;
    border-radius: 25px;
    background-color: green;
    font-weight: bold;
    width: 15%;
    border: none;
    cursor: pointer; 
}

.statcard{ 
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
}
.statcard h2{
    align-items: center;
    font-size: 2em;
    padding: 10px;
}

#statcard1{
    position: absolute;
    left:150;
}

#statcard2{
    position: absolute;
    left: 30%;
    transform: translateX(-30%);
}
/* #statcard3{
    position: absolute;
    transform: translate(40%);
} */
#statcard3{
    position: absolute;
    right: 15%;
}