.video_feed_div {
    flex: 1 0 33%;
    height: 200px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.video_feed_img {
    max-height: 150%;
    max-width: 150%;
}

.video_feed_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 600px;
    position: absolute;
    left: 35%;
    top: 40%;
    margin-left: -250px;
    margin-top: -200px;
}