.video_feed_div {
    flex: 1 0 33%;
    height: 100px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.video_feed_img {
    max-height: 100%;
    max-width: 100%;
}

.video_feed_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
}